.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > [class*="col-"] {
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* parti aggiunte pere l'esercizio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  .row {
    margin-top: 0px;
    padding: 20px;
    width: 100%;
  }
  [class*="col-"] {
    margin-top: 30px;
}
  #lezioni > .row {
    background-color: lightgoldenrodyellow;
  }
  #why > .row {
    background-color: lightgoldenrodyellow;
  }
  #why .row > [class*="col-"] {
    margin-top: 30px;
  }
}